.footer {
    
    background-color: #1A1D23;
    /* background-color: yellow; */
    display: flex;
    /* align-items: center; */
    flex-direction: row;
justify-content: space-between;
}

/* .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
} */

.footer-text {
    color: white;
}

.footer-links {
    color: white;
    display: flex;
    
    flex-direction: column;
    /* min-width: 300px; */
}