.header {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.logo {
  height: 40px;
}

/* NAV */

.nav {
  margin-top: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-list a {
  display: block;
  padding: 8px 12px;
  background: var(--primary);
  color: white;
  border-radius: var(--radius);
}