/* Свойства для всей страницы */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: var(--white);
  font-family: 'OpenSans', Arial, sans-serif;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --pistacho: #bedbaf;
  --light-pistacho: #d4fabf;
  --dark-green: #1f505c;
  --green: #47868b;
  --light-green: #80c691;
}


.container {
  max-width: 750px;

  padding: 15px 30px;
  margin: 0 auto;
}



/* * {
  overflow: hidden;
} */

/* Обнуляю дефолтные значения фокуса */
button:focus,
a:focus {
  outline: none;
  color: none;
}


.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-top_item {
padding: 10px;
background-color: #4a90e2;
color: white;
margin-right: 10px;
}



.card {
  width: 300px;
  border-radius: 30px;
    padding: 10px 40px;
    box-shadow: 0px 0px 20px rgba(241, 60, 60, 0.3);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;      /* вертикальное центрирование */
  justify-content: center;  /* горизонтальное центрирование */
  /* width: 90%;   */
}